# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Cloud provider files (como en GCP o AWS)
.env
.firebase/
.gcloud/

# Otros archivos temporales
.vscode/
.idea/
